

{% extends 'templates/base.html' %}
{% block content %}
<div class="jumbotron">
    <div class="container">
        <h1 class="display-3">Welcome to Wakanda!</h1>
        <p>It is a simple website for text processing.</p>
        <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more &raquo;</a></p>
    </div>
</div>

<div class="container">
    <!-- Example row of columns -->
    <div class="row">
        <div class="col-md-4">
            <h2>Sentiment Analysis</h2>
            <p>the process of computationally identifying and categorizing opinions expressed in a piece of text, especially in order to determine whether the writer's attitude towards a particular topic, product, etc. is positive, negative, or neutral.</p>
            <p><a class="btn btn-secondary" href="#" role="button">View details &raquo;</a></p>
        </div>
        <div class="col-md-4">
            <h2>Text to Speech</h2>
            <p>Text-to-speech (TTS) is an assistive technology that reads digital text aloud. It’s sometimes called “read aloud” technology. </p>
            <p><a class="btn btn-secondary" href="#" role="button">View details &raquo;</a></p>
        </div>
        <div class="col-md-4">
            <h2>Speech to Text</h2>
            <p>Speech recognition is the inter-disciplinary sub-field of computational linguistics that develops methodologies and technologies that enables the recognition and translation of spoken language into text by computers.</p>
            <p><a class="btn btn-secondary" href="#" role="button">View details &raquo;</a></p>
        </div>
    </div>


</div> <!-- /container -->
{% endblock %}