{% extends 'templates/base.html' %}

{% block content %}
    {% load static %}
    <script src="https://canvasjs.com/assets/script/canvasjs.min.js"></script>
    <script>
        window.onload = function () {

            var chart = new CanvasJS.Chart("chartContainer", {
                animationEnabled: true,

                title:{

                },
                axisX:{
                    interval: 1
                },
                axisY2:{
                    minimum : 0,
                    maximum: 1,
                    gridColor: "rgba(1,77,101,.1)",

                },
                data: [{
                    type: "bar",
                    name: "companies",
                    axisYType: "secondary",
                    color: "#014D65",
                    dataPoints: [

                        {y: {{ emotions.anger }}, label: "anger"},
                        {y: {{ emotions.fear }}, label: "fear"},
                        {y: {{ emotions.disgust }}, label: "disgust"},
                        {y: {{ emotions.sadness }}, label: "sadness"},
                        {y: {{ emotions.joy }}, label: "joy"},
                    ]
                }]
            });
            chart.render();

        }
    </script>
    <div class="jumbotron" >
        <div class="container">
            <h1 class="display-3">Sentiment Analysis</h1>
            <form method="post">
                <div class="row">
                    {% csrf_token %}
                        {% if form.errors %}
                            {% for field in form %}
                                {% for error in field.errors %}
                                    <div class="alert alert-danger">
                                        <strong>{{ error|escape }}</strong>
                                    </div>
                                {% endfor %}
                            {% endfor %}
                            {% for error in form.non_field_errors %}
                                <div class="alert alert-danger">
                                    <strong>{{ error|escape }}</strong>
                                </div>
                            {% endfor %}
                        {% endif %}
                </div>
                <div class="row">
                    <div class="col-md-6" style="padding-top: 25px">

                        {{ form.as_p }}
                    </div>
                    <div class="col-md-6" id="chartContainer" style="height: 250px; padding-top: 25px;padding-left: 0">

                    </div>
                </div>
                <div class="row">
                    <div class="col"></div>
                    <input type="submit" class="btn btn-primary btn-lg col-4" value="Submit">
                    <div class="col"></div>
                </div>
            </form>

        </div>
    </div>

{% endblock %}